#googleMapContainer	{
	margin-top: 20px;
	width: 100%;
	height: 500px;
	   position:center;
		color: #ff0000;
		background: #000;
	margin-right: auto;
	margin-left: auto;
	display: inline;
	float: right;
	text-align: center;
	
}

table{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
}	

table, th, td{
	padding: 5px;
	border: 1px solid black;
	text-align: center;
}

h1 {
    font-family cursive;
		color: #ff0000;
	}
	
button {
	margin-top: 20px;
}

#tableWrapper {
  position:relative;
  width:100%;
  height: 500px;
}

#tableScroll {
  height:500px;
  overflow:auto;  
  margin-top:20px;
}

#statesChart{
	height: 400px;
	width: 100%;
}

p {
	color: red;
}

.col-md-6 p {
	color: black;
}

h1{
    background-color : #ff0000;
    color : black;
}

body{
    background-color: #dd9660;
}
.containerImagen {
      width: 210px;
      height: 140px;
      position: relative;
      margin: 0 auto 0px;
      border: 0px solid #CCC;
      perspective: 1100px;
    }
    
    #map {
  height: 400px;
  width: 100%;
  }
